USE [master]
GO
/****** Object:  Database [taskBoardDB]    Script Date: 11.10.2018 17:17:22 ******/
CREATE DATABASE [taskBoardDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'taskBoardDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\taskBoardDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'taskBoardDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\taskBoardDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [taskBoardDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [taskBoardDB]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 11.10.2018 17:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[isim] [nvarchar](50) NOT NULL,
	[rowNo] [int] NOT NULL,
	[colNo] [int] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Table_1] ON 

INSERT [dbo].[Table_1] ([id], [isim], [rowNo], [colNo]) VALUES (1, N'Gizem', 2, 1)
INSERT [dbo].[Table_1] ([id], [isim], [rowNo], [colNo]) VALUES (2, N'Ebru', 4, 2)
INSERT [dbo].[Table_1] ([id], [isim], [rowNo], [colNo]) VALUES (3, N'Huseyin', 5, 3)
SET IDENTITY_INSERT [dbo].[Table_1] OFF
USE [master]
GO
